<?xml version='1.0'?>

<robot name="lidar" xmlns:xacro="http://www.ros.org/wiki/xacro">


<!--http://gazebosim.org/tutorials?tut=guided_i1 for lidar-->
<!--http://gazebosim.org/tutorials?tut=ros_gzplugins for sensors-->



  <link name="lidar">
    <collision name="collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.07"/>
      </geometry>
    </collision>
    <visual name="visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.07"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <mass value="5"/>
      <cylinder_inertia m="5" r="0.1" h="0.05"/>
      <inertia
        ixx="0.2" ixy="0.0" ixz="0.0"
        iyy="0.2" iyz="0.0"
        izz="0.2"/>
    </inertial>
  </link>

  <gazebo reference="lidar">
    <sensor type="gpu_ray" name="lidar_beam">
      <pose>0 0 -0.004645 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>18.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>/SLRS/lidar</topicName>
        <frameName>lidar</frameName>
      </plugin>
    </sensor>
  </gazebo>
<gazebo>
  <static>true</static>
</gazebo>
</robot>

