<?xml version='1.0'?>

<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name='chassis'>
  <inertial>
      <mass value="20.0"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia
          ixx="0.4" ixy="0" ixz="0"
          iyy="0.2" iyz="0"
          izz="0.15"
      />
    </inertial>
    <collision name='collision'>
      <geometry>
        <box size=".4 .2 .15"/>
      </geometry>
    </collision>
    <visual name='chassis_visual'>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size=".4 .2 .15"/>
      </geometry>
    </visual>
  </link>
</robot>

<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/dug</robotNamespace>
  </plugin>
</gazebo>