<launch>

  <node name="front_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="960" />
    <param name="image_height" value="544" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="front_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="ar_tag_frame1_broadcaster" args="0 0 0 0 0 0 1 /map /front_cam" />

  <node name="ar_track_front" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size"           type="double" value="5.0" />
    <param name="max_new_marker_error"  type="double" value="0.05" />
    <param name="max_track_error"       type="double" value="0.05" />
    <param name="output_frame"          type="string" value="/front_cam" />
    <remap from="camera_image"  to="/front_cam/image_raw" />
    <remap from="camera_info"   to="/front_cam/camera_info" />
  </node>

<!--
  <node name="back_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video4" />
    <param name="image_width" value="960" />
    <param name="image_height" value="544" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="back_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="ar_tag_frame2_broadcaster" args="0 0 0 0 0 0 1 /map /back_cam" />

  <node name="ar_track_back" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size"           type="double" value="5.0" />
    <param name="max_new_marker_error"  type="double" value="0.05" />
    <param name="max_track_error"       type="double" value="0.05" />
    <param name="output_frame"          type="string" value="/back_cam" />

    <remap from="camera_image"  to="/back_cam/image_raw" />
    <remap from="camera_info"   to="/back_cam/camera_info" />
  </node>
  -->
</launch>