<launch>
    <node pkg="lunabotics2020" type="ExcvConveyorHW" name="ExcvConveyorHW" />
    <node pkg="lunabotics2020" type="ExcvDriveBaseHW" name="ExcvDriveBaseHW" />
    <node pkg="lunabotics2020" type="ExcvTrencherHW" name="ExcvTrencherHW" />
    <node pkg="lunabotics2020" type="ExcvLinearActuatorHW" name="ExcvLinearActuatorHW" />
    
</launch>