<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find lunabotics2020)/launch/map.pgm"/>

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_omni.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find lunabotics2020)/parameters/CostmapCommonParams.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find lunabotics2020)/parameters/CostmapCommonParams.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find lunabotics2020)/parameters/CostmapLocalParams.yaml" command="load" />
    <rosparam file="$(find lunabotics2020)/parameters/CostmapGlobalParams.yaml" command="load" />
    <rosparam file="$(find lunabotics2020)/parameters/BaseLocalPlannerParams.yaml" command="load" />
  </node>
</launch>