<launch>
	<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyUSB1"/>  
		<param name="serial_baudrate"     type="int"    value="256000"/>
		<param name="frame_id"            type="string" value="front_lidar_frame"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
		<param name="scan_mode"    		  type="string" value="Standard"/>

		<!--Change topic name to beacon_scan-->
		<remap from="scan" to="front_lidar_scan"/>
	</node>

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="57600"/>
	</node>

	<node name="PerceptionTF"		pkg="lunabotics2020"	type="PerceptionTF"		output="screen"/>
	<!--<node pkg="tf2_ros" type="static_transform_publisher" name="front_lidar_frame_broadcaster" args="0 0 0.235 0 -0.35 0 map front_lidar_frame" />-->

	<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
		<remap from="scan" to="front_lidar_scan" />  <!--Topic to subscribe to-->
		<remap from="scan_filtered" to="front_lidar_scan_filtered"/>  <!--Topic to publish to-->

		<!--Load config file-->
		<rosparam command="load" file="$(find lunabotics2020)/launch/perception_filter.yaml" />
	</node>
</launch>