<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lunabotics2020)/worlds/field.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <!--Inital Robot pose, RPY in radians-->
  <arg name="transp_x" default="0.75"/>
  <arg name="transp_y" default="0"/>
  <arg name="transp_z" default="0.5"/>
  <arg name="transp_roll" default="0"/>
  <arg name="transp_pitch" default="0"/>
  <arg name="transp_yaw" default="0"/>

  <!--Spawn Transportation Bot-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find lunabotics2020)/models/transportation/transportation.xacro'"/>
  <node name="transportation_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model transportation 
      -x $(arg transp_x) -y $(arg transp_y) -z $(arg transp_z)
      -R $(arg transp_roll) -P $(arg transp_pitch) -Y $(arg transp_yaw)"/>

  <rosparam file="$(find lunabotics2020)/models/transportation/control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/"
    args="joint_state_controller
      mobile_base_controller"
  />

  <!--Must change the first arg for file type, use urdf for .xacro-->



  <node pkg="joy" type="joy_node" output="screen" name="joy_node"> 
    <param name="dev" type="string" value="/dev/input/js1"/>
  </node> 
  <node pkg="lunabotics2020" type="DriveController" output="screen" name="DriveController" /> 
  <node pkg="lunabotics2020" type="TwistPub" output="screen" name="TwistPub"/> 


</launch>
