<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam file="$(find lunabotics2020)/models/box/control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint1_position_controller joint2_position_controller joint_state_controller"/>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lunabotics2020)/worlds/field.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <!--Inital Robot pose, RPY in radians-->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="1.37"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="3.14"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find lunabotics2020)/models/box/box.xacro'"/>
  <node name="transportation_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model transportation 
      -x $(arg x) -y $(arg y) -z $(arg z)
      -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!--Must change the first arg for file type, use urdf for .xacro-->

  <!--node pkg="joy" type="joy_node" output="screen" name="joy_node"/> 
  <node pkg="lunabotics2020" type="DriveController" output="screen" name="DriveController" /> 
  <node pkg="lunabotics2020" type="TwistPub" output="screen" name="TwistPub"/--> 


</launch>
