<launch>
	<arg name="imu_topic" default="/imu" />
	<arg name="lidar_port" default="/dev/ttyUSB0" />
	<arg name="lidar_frame" default="SLS_lidar_frame" />
	<arg name="sls_frame" default="map" />
	<arg name="raw_lidar_topic" default="scan" />
	<arg name="filtered_lidar_topic" default="scan_filtered" />

	<node name="rplidarNode"  pkg="rplidar_ros"  type="rplidarNode"  output="screen">
		<param name="serial_port"         type="string" value="$(arg lidar_port)"/>  
		<param name="serial_baudrate"     type="int"    value="256000"/>
		<param name="frame_id"            type="string" value="$(arg lidar_frame)"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
		<param name="scan_mode"    		  type="string" value="Standard"/>

		<!--Change topic name to beacon_scan-->
		<remap from="scan" to="$(arg raw_lidar_topic)"/>
	</node>

	<node name="SLS"  pkg="lunabotics2020"  type="SLS"  output="screen">
		<param name="child_frame" type="string" value="$(arg lidar_frame)"/>
		<param name="parent_frame" type="string" value="$(arg sls_frame)"/>
	</node>

	<node pkg="laser_filters"  type="scan_to_scan_filter_chain"  output="screen"  name="laser_filter">
		<remap from="scan"  to="$(arg raw_lidar_topic)" />  <!--Topic to subscribe to-->
		<remap from="scan_filtered"  to="$(arg filtered_lidar_topic)"/>  <!--Topic to publish to-->

		<!--Load config file-->
		<rosparam command="load"  file="$(find lunabotics2020)/config/SLS_filter.yaml" />
	</node>
</launch>