<launch>
	
	<!-- joy node -->
	<node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.05" />
	</node>


	<node pkg="lunabotics2020" type="DriveController" name="DriveController" />

	<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyUSB1"/>  
		<param name="serial_baudrate"     type="int"    value="256000"/>
		<param name="frame_id"            type="string" value="beacon_frame"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
		<param name="scan_mode"			  type="string" value="DenseBoost"/>

		<!--Change topic name to beacon_scan-->
		<remap from="scan" to="beacon_scan"/>
	</node>

	<!--node pkg="tf2_ros" type="static_transform_publisher" name="beacon_frame_broadcaster" args="3.255 0.04 0 0 0 0 map beacon_frame" /-->

	<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
		<remap from="scan" to="beacon_scan" />  <!--Topic to subscribe to-->
		<remap from="scan_filtered" to="beacon_scan_filtered"/>  <!--Topic to publish to-->

		<!--Load config file-->
		<rosparam command="load" file="$(find lunabotics2020)/launch/beacon_filter.yaml" />
	</node>

	<node pkg="lunabotics2020" type="FlagLocalization" name="FlagLocalization"></node>

	<node pkg="lunabotics2020" type="Odometry" name="Odometry"></node>

	<!--Camera-->
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video2" />
		<param name="image_width" value="960" />
		<param name="image_height" value="544" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="head_camera" />
		<param name="io_method" value="mmap"/>
	</node>

	<!--AR Tracker-->
	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="5.0" />
		<param name="max_new_marker_error"  type="double" value="0.05" />
		<param name="max_track_error"       type="double" value="0.05" />
		<param name="output_frame"          type="string" value="/head_camera" />

		<remap from="camera_image"  to="/usb_cam/image_raw" />
		<remap from="camera_info"   to="/usb_cam/camera_info" />
	</node>

  <!--Transforms-->

	<node pkg="tf2_ros" type="static_transform_publisher" name="beacon_broadcaster" args="3.255 0.04 0 0 0 0 map beacon_frame" /> <!-- Map to Lidar Transform-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="flag_broadcaster" args="-0.08 .22 0 0 0 0 flag transportation" /> <!-- Flag to Center of Robot Transform-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster" args="0 0.3 0 3.14 0 1.57 transportation head_camera" /> <!-- Center of Robot to Camera Transform-->
	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.08 0 -0.4 0 3.14159 1.04719 beacon_frame camera_depth_optical_frame 100" />

  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lunabotics2020)/config/default.rviz" />

	<include file="$(find realsense2_camera)/launch/rs_camera.launch" >
		<arg name="filters" value="pointcloud" />
	</include>

</launch>
